.Menu {
  padding-top: 5px;
  background-color: #282c34; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  font-size: calc(10px + 2vmin);
}

.Version {
  background-color: #282c34; 
  color: white;
  font-size: 10px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.MenuButton {
  background-color: blue !important;
  color: white !important;
}